.container-gifs {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 1.5rem;
  grid-gap: 10px;
  grid-auto-rows: 10px;
}

.gif {
  height: 200px;
  width: 200px;
  grid-row-end: span 2;
}


